.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.paginationButton {
    padding: 5px 10px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.paginationButton:disabled {
    background-color: #ea0f0f;
    cursor: not-allowed;
}

.paginationNumber {
    margin: 0 10px;
    cursor: pointer;
    color: #20bcc6;
    text-decoration: none;
}

.paginationNumber.current {
    font-weight: bold;
    color: #ffc107;

}
