

.treeNavigation{
    display: flex;
    margin: 30px 20px 30px 50px;
    opacity: 0.8;
}

.linkNavigation{
    margin-right: 15px;
    text-decoration: none;
    margin-top: 5px;
}


.movieRow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    position: relative;
}

.arrow {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.arrowButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.moviesContainer {
    display: flex;
    gap: 20px;
}

.movieItem {
    text-align: center;
}

.movieImage {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movieTitle {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}









@media screen and (min-width: 600px) and (max-width: 1200px){
    .moviesContainer, .movieItem{
        display: flex;
        flex-direction: column;
        align-items: center;
    }



    .movieImage {
        width: 80%;
        height: auto;

    }
}




@media screen and (max-width: 600px){
    .treeNavigation {
        margin: 20px 10px;
    }

    .linkNavigation {
        font-size: 18px;
    }

    .arrow {
        width: 30px;
        height: 30px;
    }

    .moviesContainer, .contactInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .movieImage {
        width: 100%;
        height: auto;

    }

    .socialIcon {
        width: 30px;
        height: 30px;
    }
}