
.header {
    display: flex;
    align-items: center;
    height: 70px;
}

/* Стилі для світлої теми */
.light {
    background-color: #b8b5b5;
    color: #000;
}

/* Стилі для темної теми */
.dark {
    background-color: #0f1c26;
    color: #fff;
}

.link {
    text-decoration: none;
    color: inherit; /* Використовуємо колір, який визначено темою */
    margin: 20px 15px  ;
    font-weight: bold;
    font-size: 25px;
}

.link:hover {
    text-decoration: none;
    color: #20bcc6;
}


.loginSearch{
        display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 30px;
}

.navigationInput{
    width: 400px;
}

@media screen and (min-width: 600px) and (max-width: 1200px){

    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 120%;
        padding: 10px 20px;
    }

    .navigationInput{
        width: 200px;
    }
}





@media screen and (max-width: 600px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 150%;
        padding: 10px 20px;
    }

    .link {
        font-size: 18px;

    }

    .navigationInput {
        width: 80px;
        font-size: 14px;
        text-overflow: ellipsis;
    }

    .loginSearch {
        width: 100%;
        justify-content: center;
        bottom: 10px;
        position: relative;
        transform: translateY(0);
    }

    .loginSearch button {
        height: 30px;
        width: 60px;
        font-size: 14px;
    }

    .loginSearch img {
        height: 20px;
        width: 20px;
    }

    .allLink{
        margin-bottom: 20px;
    }

    .divLogo{
       margin-bottom: 5px;
        margin-left: 80px;
    }

}

