

.starRating {
    display: inline-block;
}

.starRating span {
    font-size: 20px;
    color: #d3d3d3; /* для незаповнених зірок */
}

.starRating .filled {
    color: #ffc107; /*  для заповнених зірок */
}
